@import './../../designUtils/colors';
@import './../../designUtils/fontDesign';

.studentCard {

    padding: 10px;
    border-bottom: 2px solid rgb(203, 203, 203);
    background-color: white;

    a{
        text-decoration: none;
        display: flex;
        color: unset;
    }

    >* {
        margin-bottom: 8px;
    }

    &__profilePic {

        margin: 8px;

        img {
            width: 100px;
            height: 100px;
            border: 2px solid rgb(14, 14, 14);
            border-radius: 50%;
        }
    }

    &__info {
        margin: 10px;
        width: 70%;
    }


    &__name {
        font-size: 30px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 5px;

        &:hover {
            filter: drop-shadow(3px 3px 5px darken($background-gray, 10%))
        }
    }

    &__infoLine {
        @extend %gray-and-indented;
        line-height: 20px;
    }

    &__gradesList {
        @extend %gray-and-indented;
        margin-top: 10px;

        span {
            display: inline-block;
            min-width: 50px;
        }
    }

    &__toggleIcons {
        color: $highlight-gray;
        padding-top: 7px;
        
        &__toggleIcon {
            cursor: pointer;
            &:hover{
                color: black;
            }
        }
    }

    @media screen and (max-width: 420px){
        &__name {
            font-size: 20px;
        }
    }


    
}

/// &_name => studentCard > name
//npm install sass