@import './../../styleResources/colors';

.studentCard {

    border-bottom: 1px solid rgb(203, 203, 203);

    > * {
        margin-bottom: 8px;
    }


    &__name{
        font-weight: 600;
        &:hover{
            filter: drop-shadow(3px 3px 5px darken($aqua, 10%))
        }
    }
}
/// &_name => studentCard > name
//npm install sass