@import './../../designUtils/colors';

.searchBar{
        height: 30px;
        padding: 2%;
        margin: 2%;
        border: none;
        border-bottom: 2px solid $background-gray;
        font-size: 16px;
        color: gray;
        
        &:focus{
            outline: none;
            border-bottom: 2px solid $highlight-gray;
            color: black;
        }
}