@import './../../designUtils/colors';

.studentList {
    width: 600px;
    margin: 10vh auto; //vh total must equal 100
    height: 80vh; //vh total must equal 100
    background-color: white;
    overflow-y: scroll;
    border-radius: 20px;
    box-shadow: 2px 2px 7px 1px $highlight-gray;

    &::-webkit-scrollbar {
        display: none;
    }

    &__noResults{
        font-weight: 600;
        margin: 200px auto 0px;
        display: table;
    }


}