@import './../../designUtils/colors';

.studentList {
    width: 600px;
    margin: 10vh auto; // top/bottom - left/right > vh total must equal 100
    height: 80vh; //vh total must equal 100
    background-color: white;
    overflow-y: scroll;
    border-radius: 20px;
    box-shadow: 2px 2px 7px 1px $highlight-gray;

    &::-webkit-scrollbar {
        display: none;
    }

    //media query
        //overwrite some rules

        @media screen and (max-width: 420px){
            margin: 0;
            height: auto; //100vh would only fill full screen without scrolling
            width: 100%;
            overflow-y: unset;
            box-shadow: unset;
            border-radius: 0;
            width: unset;

            &__noResults{
                padding: 200px 0;
            }
        }


}