$background-gray: #e5e4e4;
$highlight-gray: #858585;
$shadow-gray: #e9e7e7;
$tab-background: #e0e0e0;
$sunset: #AA0100;
$light-gold: #CEA768;
$dark-gold: #C6A069;
$real-gold: #BC9E5F;
$light-gray: #BC9E5F;
